.control-panel-interval {
  -webkit-appearance: none;
  position: absolute;
  height: 20px;
  margin: 0;
  width: 33%;
  left: 52.5%;
  cursor: ew-resize;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-panel-interval .control-panel-interval-handle {
  position: absolute;
  height: 20px;
  min-width: 1px;
}
